
.vs/PokemonGO/v17/ipch/AutoPCH/c911a55f3d0b9817/PREPARESCENE.ipch
.vs/PokemonGO/v17/Browse.VC.opendb
.vs/PokemonGO/v17/Browse.VC.db-wal
.vs/PokemonGO/v17/Browse.VC.db-shm
.vs/PokemonGO/v17/Browse.VC.db
.vs/PokemonGO/FileContentIndex/f40b128d-dc8f-4858-bd0d-8a6100abaed7.vsidx
.vs/PokemonGO/FileContentIndex/7c1040e5-e567-4e3b-b62b-ade8addce052.vsidx
.vs/PokemonGO/FileContentIndex/2bb3bee3-b038-4c45-a33a-398954c434ca.vsidx
.vs/PokemonGO/FileContentIndex/10e26138-ee95-495c-840f-9d21e5315ab4.vsidx
.vs/PokemonGO/v17/Browse.VC.db
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/PokemonGO/v17/DocumentLayout.json
.vs/PokemonGO/v17/Browse.VC.db
.vs/PokemonGO/v17/.wsuo
.vs/PokemonGO/FileContentIndex/7e80db82-71f3-4cbc-91d8-c4017f5f17ec.vsidx
